<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css">
    <style>

    </style>
</head>

<body>
    <template id="item">
        <div class="item">
            <h3> <%-heading %> </h3>
            <p>
                <%- description %>
            </p>
        </div>
        </temlate>
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">blah</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
                <h3 class="text-muted">Title</h3>
            </div>
            <div class="container">
                <div class="header">
                    <ul class="nav nav-pills pull-right">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <h3 class="text-muted">scaffold</h3>
                </div>
                <div class="items">
                    <div class="item">
                        <h3>'Allo, 'Allo!</h3>
                        <p>Always a pleasure scaffolding your apps.</p>
                    </div>
                </div>
                <div class="footer">
                    <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.2/backbone-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.4.2/backbone.marionette.min.js"></script>
        <script>
        $(function() {
            app.start();
            var compiled = _.template($('#item').html());

            $('.items').append(compiled({
                heading: 'test',
                description: 'blahblah'
            }));
        })
        </script>
</body>

</html>
